<html>

	<head>	
		
	</head>

		<body>

		
			<h2 id="login_header">Hi you're logged in </h2>
		
			<form name="logout" method ="post" action="/session/logout">
				
				<input type="submit" name="_method" value="delete">		

			</form>

			<form name="my_profile" method ="post" action="/users/:id">
				
				<input type="submit" name="profile" value="My Profile">		

			</form>

			<form method ="get" action="/questions/ask">
				
				<input type="submit" name="ask_button" value="Ask a Question">		

			</form>

			<table class="top_stories" align="center" style="width:900px">

				 <%Question.all.each do |x|%>
					
				 <tr>
				 <td><%=x.title%></td>
				 </tr>
				 <tr>
				<td><%=x.question_description%></td>
				</tr>
				<tr>
				<% user = User.find_by(id: x.users_id)%> 
				<td><%=user.first_name + " " + user.last_name%></td>
				</tr>
				<tr>
				</tr>
				<tr>
				<td><%= Answer.where(questions_id: x).pluck(:answer_text)%></td>
				</tr>
				 <tr></tr>
				  <tr></tr>
				   <tr></tr>
				  
				  	 <% question_id = x.id%> 

				 	  <td><form method="get" action="/answer/<%=x.id%>">
				
						<input type="submit" name="answer" value="Answer"></form>

						</td>
					

				 <%end%>

			</table>

		</body>

</html>